@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --color-green: #D7F5F1;
    --color-deep-green: #1AB394;
    --color-warning: #F8AC57;
    --color-white: #FFFFFF;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #383838;
}

.inventory-requisition{
    border: 2px solid var(--color-deep-green);
    padding: 0.5rem;
    border-radius: 5px;
}

.requisition-list-title{
    background-color: var(--color-deep-green);
    color: var(--color-white);
    font-size: 1.5rem;
    text-align: center;
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: 500;
}

table.dataTable tr{
    background-color: var(--color-deep-green);
    color: var(--color-white);
    font-size: .8rem;
}
table.dataTable td{
    color: black;
}

.requisition-basic-info{
    background-color: var(--color-green);
    padding: 1rem;
    border-radius: 5px;
}
label{
    position: relative;
}
.required-mark{
    color: red;
    font-size: 1.2rem;
    position: absolute;
    top: 10%;

}
.requisition-title{
    font-weight: 600;
    margin-top: 25px;
}
.requisition-details-inner{
    border: 1px solid var(--color-deep-green);
    border-radius: 5px;
    padding: 0.5rem;
}

.details-input{
    display: flex;
    gap: 0.2rem;
}
.details-input > div{
    flex: 5%;
}
.requisition-details-inner label{
    font-size: 0.7rem;
    position: relative;
}
.requisition-details-inner .required-mark{
   top: -40%;
}
